<launch>
    <!-- Add the robotiq_85_driver script -->
    <node pkg="robotiq_85_driver" name="robotiq_driver" type="robotiq_85_driver"/>

    <!-- Add the gripper_control script -->
    <node pkg="unity_ros_doosan" name="gripper_control" type="gripper_control.py"/>

    <!-- Add the keyboard_gripper script-->
    <node pkg="unity_ros_doosan" name="keyboard_control" type="keyboard_gripper.py"/>
</launch>